#pokemon-big-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 75vh;
    border: 3px solid black;
}
#pokemon-big-container-main {
    width: 100%;
}
.pokemon-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    border-bottom: 2px solid black;
}
#card-top-id {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: rgb(255, 205, 80);
    border-bottom: 2px solid black;
}
#pokemon-name-id {
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;    
}
#pokemon-id-id {
    font-size: 24px;
    font-weight: 800;
}
#pokemon-img-id {
    height: 300px;
    width: 300px;
}
#pokemon-weight-height {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 25px;
}
.phys-info {
    padding: 5px;
    border: 2px rgb(190, 164, 14) solid;
    background-color: rgb(250, 213, 2);
    font-size: 14px;
}
#pokemon-stats-container-id {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 2vw;
    margin-right: 2vw;
    height: 50vh;
}
.pokemon-stat-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 25px;
    margin: 10px 0;
    position: relative;
    
}

.stat-line {
    height: 20px;
    border-radius: 25px;
    background-color: #76c7c0;
    width: 0%;
    transition: width 0.5s ease;
}

.stat-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #333;
}
#card-bottom-id {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    width: 100%;
}
.pokemon-info {
    border: 2px solid lightgrey;
    border-radius: 45px;
    padding: 5px;
    font-size: 18px;
}
.pokemon-info:hover {
    cursor: pointer;
    border: 1px solid grey;
    background-color: lightblue;
    transition: 250ms;
}
#general {
    z-index: 10;
}
#stats {
    z-index: 10;
}
#evolution {
    z-index: 10;
}
.pokemon-stat-container {
    margin: 10px 0;
}

.stat-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
    border: 1px solid #ccc;
}

.progress {
    height: 100%;
    background-color: #76c7c0;
    width: 0; 
    transition: width 0.3s ease;
}
#pokemon-evo-container-id {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: #e0e0e0;
    border-bottom: 2px solid black;
}
.evo-pok {
    height: 100px;
    width: 100px;
}