#pokemon-big-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 80vw;
    max-width: 1000px;
    height: 87vh;
    border: 3px solid #000;
    background-color: #f8f9fa;
    border-radius: 10px;
    overflow: hidden;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
}

#pokemon-big-container-main {
    width: 100%;
}

.pokemon-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 45vh;
    border-bottom: 2px solid #000;
}

#card-top-id {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: #ffcd50;
    border-bottom: 2px solid #000;
}

#pokemon-name-id, #pokemon-id-id {
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase; 
    color: #333;
}

#pokemon-img-id {
    height: 150px;
    width: 150px;
    object-fit: cover;
}
#pokemon-navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 5vh;
    position: absolute;
}
#pokemon-last-button {
    width: 40px;
    height: 40px;
    transform: rotate(180deg);
    padding-right: 5vw;
}
#pokemon-last-button:hover {
    cursor: pointer;
}
#pokemon-next-button {
    width: 40px;
    height: 40px;
    padding-right: 5vw;
}
#pokemon-next-button:hover {
    cursor: pointer;
}
#pokemon-text {
    margin: 2px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    font-weight: 600;
}

#pokemon-weight-height {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    background-color: #fffcf5;
    height: 10vh;
    border-top: 2px solid #ccc;
}

.phys-info {
    padding: 8px 12px;
    border: 2px solid #bea40e;
    background-color: #fad502;
    padding: 5px;
    border: 2px solid lightgrey;
    border-radius: 45px;
    font-size: 14px;
    text-align: center;
    align-self: center;
    transition: 250ms;
    color: #000000;
    background-color: #ffcd50;
}

#pokemon-stats-container-id {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2vw;
    height: 50vh;
    background-color: #f0f4f8;
}


.pokemon-stat-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 25px;
    margin: 10px 0;
    position: relative;
}


.stat-line {
    height: 20px;
    border-radius: 25px;
    background-color: #d2332a;
    width: 0%;
    transition: width 0.5s ease;
}


.stat-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

#card-bottom-id {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: #f7f7f7;
    border-top: 2px solid #000;
}

.pokemon-info {
    border: 2px solid lightgrey;
    border-radius: 45px;
    padding: 5px 15px;
    font-size: 14px;
    transition: 250ms;
    color: #333;
    width: 75px;
    text-align: center;
}

.pokemon-info:hover {
    cursor: pointer;
    border-color: grey;
    background-color: lightblue;
}


#general, #stats, #evolution {
    z-index: 10;
}


.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
    border: 1px solid #ccc;
}

.progress {
    height: 100%;
    background-color: #6e6e6e;
    width: 0; 
    transition: width 0.3s ease;
}


#pokemon-evo-container-id {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: #e0e0e0;
    border-bottom: 2px solid #000;
}

.pokemon-evo-single-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.pokemon-evo-name {
    padding-bottom: 2vh;
    font-weight: 600;
    text-transform: uppercase; 

}

.evo-pok {
    height: 20vh;
    width: 20vw;
    object-fit:contain;
}
.evo-pok:hover {
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
}
#back-btn-container-big-pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    
    width: 100%;
}
#back-btn-big-pokemon {
    padding: 5px;
    border: 2px solid lightgrey;
    border-radius: 45px;
    font-size: 18px;
    text-align: center;
    align-self: center;
    padding: 10px;
    transition: 250ms;
    color: white;
    background-color: #1f1f1f;
}

#back-btn-big-pokemon:hover {
    cursor: pointer;
    border-color: grey;
    background-color: lightblue;
}

@media (min-height: 2000px) {
    #pokemon-text {
        font-size: 30px;
        font-weight: 600;
    }
    #pokemon-name-id, #pokemon-id-id {
        font-size: 44px;
    }
    .phys-info {
        padding: 15px;
        font-size: 32px;
    }
    .pokemon-info {
        font-size: 40px;
        width: 200px;
    }
    
    #back-btn-big-pokemon {
        padding: 5px;
        font-size: 40px;
        padding: 20px;
    }
    
}
@media (min-height: 1000px) {
    #pokemon-img-id {
        height: 300px;
        width: 300px;
    }
}

@media (max-height: 750px) {
    #pokemon-text {
        font-size: 12px;
        font-weight: 600;
    }
    .pokemon-evo-name {
        font-size: 12px;
    
    }
}
