body {
    margin: 0;
    font-family: "Sofadi One", system-ui;
    scroll-behavior: smooth;
    background-color: rgb(31, 48, 48);
    
    
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}
.d-none {
    display: none !important;
}
.d-flex {
    display: flex !important;
}
.d-block {
    display: block !important;
}
.width-100 {
    width: 100%;
}
.height-100-vh {
    height: 100vh !important;
}